#navBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
}
#title-Nav{
    font-size: 24px;
    cursor: default;
}
#logo-Nav{
    width: 40px;
    height: 40px;
}
#cont-list{
    display: flex;
    list-style-type: none;
    margin: 5px 20px;
}
#item-list{
    display: flex;
    margin: 0 20px;
}
#item-link{
    text-decoration: none;
    color: #DDD;
    font-size: 18px;
}
#cart{
    width: 40px;
    height: 40px;
}

#contenido{
    display: flex;
    flex-direction: column;
}
#title{
    margin: 10px 10px;
    font-size: 32px;
    cursor: default;
}
#cont-btn{
    display: flex;
    justify-content: center;
}
#btnMulti{
    font-size: 15px;
}